[Unit]
Description=Morpher Daemon
After=syslog.target network.target

[Service]
Type=simple
ExecStart=/usr/bin/morpher-server -c /etc/morpher.knf
KillSignal=SIGTERM
User=morpher
Group=morpher
PIDFile=/var/run/pkgre/morpher/morpher.pid

[Install]
WantedBy=multi-user.target
